##########################   Backend

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Django
*.sqlite3
*.log
media/
staticfiles/

# Environment
.env
.venv/
venv/
env/
myenv/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# IDE
.vscode/
.idea/
*.sw?

# OS
.DS_Store


##########################   Frontend

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
