##########################   Backend 

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
*.log
media/
staticfiles/

# Environment
.env

.venv
**/migrations/*.py
!**/migrations/__init__.py
*.sqlite3
venv/
myenv/
__pycache__/
*.pyc
patients/migrations/0001_initial.py

.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Migrations (optional — most teams keep these)
 */migrations/*.py
 !*/migrations/__init__.py


##########################   Frontend 

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
